body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
}

.remove {
  width: 70px;
  height: 20px;
}

.fun {
  text-align: center;
  font-size: 50px;
  color: blue;
}
